* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter;
}

@font-face {
    font-family: 'inter';
    /*a name to be used later*/
    src: url('../Fonts/Inter-Regular.ttf');
    /*URL to font*/
}

.maincont {
    /* margin-top: 80px; */
}


.abouthead,
.protext2,
.pro1text2,
.brandtext2,
.agtext2,
.safetytext2 {
    font-weight: bold;
}


/* common style start */

.btn-danger {
    background-color: #00652e !important;
    border: 0 !important;
    transition: 1s;

}

button:hover{
    background-color: #927f2e !important;
    color: #fff;
}
.btn-danger:hover {
    background-color: #927f2e !important;
    border: 0 !important;
    color: #fff;
    border-radius: 30px !important;
    transition: 1s;

}

.learnbtn {
    width: 100%;
    border-radius: 30px;
    font-size: 17px;
    margin-right: 0px;
    padding: 6px 12px !important;
}

.learnbtnsec {
    align-items: start;
    justify-content: right;
    display: flex;
}

.bannertext1 {
    color: #0098FF;
}

.bannertext2,
.bannertext3 {
    margin: auto;
    color: #fff;
}

.maincont,
.main {
    background-color: #EDECED;
}

/* common style end */


/* banner style start */


.carousel-control-next-icon {
    background-image: url("../imgs/right-arrow.png") !important;
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
    opacity: 1 !important;
    width: 40px !important;
    height: 40px !important;
}

.carousel-control-prev-icon {
    background-image: url("../imgs/right-arrow.png") !important;
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
    opacity: 1 !important;
    transform: rotate(180deg);
    width: 40px !important;
    height: 40px !important;
}

.carousel-control-next,
.carousel-control-prev {
    opacity: 1 !important;
}


.bannersec {

    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    margin-top: 150px;
}


.lines {
    width: 50%;
    border: 2px solid #0098FF;
    margin: 30px auto;
}

.bannertextsec {
    text-align: center;
    padding: 100px 0px 50px 0px;
}

/* banner style end */


/* about style start */


.aboutsec {
    margin-top: 50px;
}

.aboutsec .flexsec {
    justify-content: space-between;
}

.abouttext1 {
    color: #898989;
    margin-bottom: 10px;
}

.line1 {
    width: 40%;
    border: 2px solid #EE0000;
    margin-bottom: 20px;
}

.textmission {
    font-size: 18px;
    font-weight: 600;
}

.missec {
    margin-top: 40px;
}

.textboxsec {
    padding: 0px 40px;
    background-color: #fff;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 100%;
    align-items: start;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: left !important;
}

.textboxsec1 {
    padding: 0px 40px;
    background-color: #fff;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 100%;
    align-items: start;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: left !important;
}

/* about style end */


/* prosec  style start */

.prosec {
    margin-top: 50px;
}

.proimg {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.chemibox {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.protext1 {
    color: #898989;
    margin-bottom: 10px;
}



.protext3 {}

.mbl {
    display: none;
}

.graybox {
    width: 100%;
    height: 300px;
    background-color: #CECECD;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.chemibox {
    background-color: #fff;
    padding: 15px 20px;
}

.flexsec1 {
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.chemitext {
    margin: auto 0px;
    padding-bottom: 5px;
    border-bottom: 2px solid #0098FF;
}

.arrow {
    max-width: 46px;
    max-height: 46px;
}

/* prosec  style end */


/*  prosec1 style start */

.prosec1 {
    margin-top: 50px;
}

.pro1text1 {
    color: #898989;
    margin-bottom: 10px;
}

.line3 {
    width: 30%;
    border: 2px solid #EE0000;
    margin: 15px 0px;
}


.infinitysec {
    width: 100%;
    background-color:#00652e ;
    padding:30px 0px;
}

.probtn {
    margin-left: auto;
    margin-right: auto;
    padding: 6px 12px;
    border-radius: 30px;
    font-size: 17px;
}

.boxsec {
    width: 420px;
    height: 420px;
    /*background-color: #e3e3e3;*/
    border-radius: 10px;
    padding: 20px;
    /*box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;*/
}


.boxsec img{
    border-radius:20px;
}

.scroller {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.scroller__inner {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.scroller[data-animated="true"] {
    overflow: hidden;
    /*-webkit-mask: linear-gradient(90deg,*/
    /*        transparent,*/
    /*        #F5F5F5 20%,*/
    /*        #F5F5F5 80%,*/
    /*        transparent);*/
    /*mask: linear-gradient(90deg, transparent, #F5F5F5 10%, #F5F5F5 90%, transparent);*/
}

.scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 0s) var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
    --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
    --_animation-direction: forwards;
}


.scroller[data-speed="slow"] {
    --_animation-duration: 30s;
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}


/*  prosec1 style end */


/* brandsec style start */

.brandsec {
    margin-top: 50px;

}

.brandtext1 {
    color: #898989
}

.line4 {
    width: 30%;
    border: 2px solid #EE0000;
    margin: 15px auto;
}

.brandtext3 {
    width: 70%;
    margin: auto;
    margin-bottom: 30px;
}

.logosec {
    margin: 5px;
    align-items: center;
    justify-content: space-around;
    display: flex;
    margin-top: 20px;

}

.logosec1 {
    align-items: start;
    justify-content: center;
    display: flex;
}

.brlogo {
    max-width: 25%;
}



.form-item {
    position: relative;
    margin-bottom: 15px
}

.form-item input,
.form-item textarea {
    display: block;
    width: 100%;
    height: 40px;
    background: transparent;
     border: 1px solid #898989;
    border-radius: 10px;
    transition: all .3s ease;
    padding: 0 15px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}



.form-item input:focus,
.form-item textarea:focus {
    border-color: #00652e !important;

}

.form-item label {
    position: absolute;
    cursor: text;
    z-index: 2;
    top: 13px;
    left: 10px;
    font-size: 12px;
    font-weight: bold;
    /* background: #EDECED; */
    border-radius: 10px;
    padding: 0 10px;
    color: #999;
    transition: all .3s ease
}

.form-item input:focus+label,
.form-item input:valid+label,
.form-item textarea:focus+label,
.form-item textarea:valid+label {
    font-size: 11px;
    top: -5px;

    color: #00652e;
    background-color: #EDECED;
}


.form-item input:focus+label {
    color: #00652e;
    background-color: #EDECED;
    height: 18px;
}

.form-item textarea:focus+label {
    color: #00652e;
    background-color: #EDECED;
    height: 18px;
}

/* brandsec style end */

.form-controls {
    border: 0;
    background-color: transparent;
    /* border-bottom: 1px solid #898989; */
    outline: 0;
    border-radius: 0px;
    width: 100%;

}

#msg {
    height: 200px !important;
    border: 1px solid #898989;
}

.form-label {
    margin-bottom: -100px !important;
}




.locimg1 {
    max-width: 22px;
    max-height: 22px;
    margin-right: 5px;
    margin-top: 1px;
    filter: invert(100%);
    -webkit-filter: invert(1);
    -moz-filter: invert(100%);
    -o-filter: invert(100%);
    -ms-filter: invert(100%);
}

.brandsec {
    padding-bottom: 50px;
}

.bluebox {
    border-bottom-left-radius: 30px;
}

.blackbox {
    border-bottom-right-radius: 30px;

}

.bluebox,
.blackbox {
    width: 110%;
    height: 100%;
    padding: 40px 20px 30px 20px;
    align-items: start;
    justify-content: start;
    display: flex;
    flex-direction: column;
    color: #fff;
    bottom: 0px;

}

.greenbox,
.peachcolor {
    width: 100%;
    height: 100%;
    padding: 20px 0px 20px 0px;
    text-align: center;
    color: #fff;
    background-color: #000;
    border-radius: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 1s;
}

.greenbox {
    color: #fff;
    background-color: #197844;

}
.peachcolor{
    background-color: #197844;
}

.imgsec {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #fff;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    margin-bottom: 5px;
    transition: 1s;
    
}

.imgsec:hover {
    background-color: #fff;
    color: #000;
    transition: 1s;
}

.boxhead {
    height: 30px;
}

.greenbox:hover {
    background-color: #927f2e;
    transition: 1s;
    transform: scale(1.02);
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.peachcolor:hover {
    background-color: #927f2e;
    transition: 1s;
    transform: scale(1.02);
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.text-1 {
    font-weight: bold;
    font-size: 16px !important;
}

.contboxcont {
    position: relative;

}

.bluebox {
    background-color: #0098FF;

}

.blackbox {
    background-color: #000;
    margin-left: -10%;

}

.subbtn {
    border-radius: 30px;
    font-size: 17px;
}

.mail {
    width: 12px;
    height: 12px;
    margin-right: 10px;
}

.call {
    width: 8px;
    height: 12px;
    margin-right: 10px;
}

.text {
    font-size: 14px !important;
    margin-bottom: 5px;
}

.text-2 {
    margin-bottom: 15px;
    margin-top: -10px;
}

footer {
    margin-top: 0px;
}


.geticon {
    font-size: 16px;
    margin: 5px 10px 5px 5px;
}


.contmap {
    max-width: 100%;
    max-height: 100%;
    height: 510px;
    width: 100%;
}

/* responsive work start */

@media screen and (min-width:1400px) {

    /* common style start */
    .bannertext1,
    .abouttext1,
    .protext1,
    .pro1text1,
    .brandtext1,
    .agtext1,
    .safetytext1 {
        font-size: 25px;
    }

    .abouthead,
    .protext2,
    .pro1text2,
    .brandtext2,
    .agtext2,
    .safetytext2 {
        font-size: 30px;
    }

    .aboouttext2,
    .protext3,
    .pro1text3,
    .brandtext3,
    .agtext3,
    .safetytext3 {
        font-size: 16px;
    }

    /* common style end */


    /* banner style start */
    .bannertext2 {
        font-size: 40px;
        font-weight: 800;
        width: 85%;
    }

    .bannertext3 {
        width: 85%;
    }

    /* banner style end */


    /*  prosec1 style start */
    .proimg2 {
        margin-top: 15.5px;
    }

    /*  prosec1 style end */



}

@media screen and (min-width:1300px) and (max-width:1399px) {
    .contmap {
        height: 510px !important;
    }

    /* common style start */
    .bannertext1,
    .abouttext1,
    .protext1,
    .pro1text1,
    .brandtext1,
    .agtext1,
    .safetytext1 {
        font-size: 23px;
    }

    .abouthead,
    .protext2,
    .pro1text2,
    .brandtext2,
    .agtext2,
    .safetytext2 {
        font-size: 28px;
    }


    /* common style end */


    /* banner style start */
    .bannertext2 {
        font-size: 40px;
        font-weight: 800;
        width: 85%;
    }

    .bannertext3 {
        width: 85%;
    }

    .proimg2 {
        margin-top: 0px;
        max-width: 99%;
    }

    .contboxcont {
        margin-top: -40.4%;
    }

    .boxsec {
        width: 380px;
        height: 380px;
    }
}

@media screen and (min-width:1200px) and (max-width:1299px) {
    .contmap {
        height: 510px !important;
    }

    /* common style start */
    .bannertext1,
    .abouttext1,
    .protext1,
    .pro1text1,
    .brandtext1,
    .agtext1,
    .safetytext1 {
        font-size: 23px;
    }

    .abouthead,
    .protext2,
    .pro1text2,
    .brandtext2,
    .agtext2,
    .safetytext2 {
        font-size: 28px;
    }



    /* common style end */


    /* banner style start */
    .bannertext2 {
        font-size: 35px;
        font-weight: 800;
        width: 85%;
    }

    .bannertext3 {
        width: 90%;
    }

    /* banner style end */



    /*  prosec1 style start */
    .proimg2 {
        margin-top: 7px;
    }

    /*  prosec1 style end */
    .contboxcont {
        margin-top: -40.4%;
    }

    .boxsec {
        width: 350px;
        height: 350px;
    }
}

@media screen and (min-width:1100px) and (max-width:1199px) {
    .blackbox .flexsec {
        margin-bottom: 10px;
    }

    .contactbox iframe {
        height: 600px !important;
    }

    /* common style start */
    .bannertext1,
    .abouttext1,
    .protext1,
    .pro1text1,
    .brandtext1,
    .agtext1,
    .safetytext1 {
        font-size: 19px;
    }

    .abouthead,
    .protext2,
    .pro1text2,
    .brandtext2,
    .agtext2,
    .safetytext2 {
        font-size: 23px;
    }


    .textmission1 {
        font-size: 13px;
    }

    /* common style end */


    /* banner style start */
    .bannertext2 {
        font-size: 30px;
        font-weight: 800;
        width: 85%;
    }

    .bannertext3 {
        width: 90%;
    }

    /* banner style end */



    /* prosec  style start */
    .proimg2 {
        max-width: 99.4%;
    }

    /* prosec  style end */


    /* exsec style start */

    .num,
    .num1 {
        font-weight: 700;
        font-size: 27px;

    }

    .text {
        font-size: 18px;
        color: #fff;
        margin-bottom: 0px;
    }

    /* exsec style end */

    .contboxcont {
        margin-top: -45.2%;
    }

    .boxsec {
        width: 300px;
        height: 300px;
    }
}

@media screen and (min-width:992px) and (max-width:1099px) {

    /* common style start */
    .bannertext1,
    .abouttext1,
    .protext1,
    .pro1text1,
    .brandtext1,
    .agtext1,
    .safetytext1 {
        font-size: 19px;
    }

    .abouthead,
    .protext2,
    .pro1text2,
    .brandtext2,
    .agtext2,
    .safetytext2 {
        font-size: 23px;
    }



    .textmission1 {
        font-size: 13px;
    }

    /* common style end */


    /* banner style start */
    .bannertext2 {
        font-size: 30px;
        font-weight: 800;
        width: 85%;
    }

    .bannertext3 {
        width: 90%;
    }

    /* banner style end */



    /* prosec  style start */
    .proimg2 {
        max-width: 99.2%;
    }

    /* prosec  style end */


    /* exsec style start */

    .num,
    .num1 {
        font-weight: 700;
        font-size: 27px;

    }

    .text {
        font-size: 18px;
        color: #fff;
        margin-bottom: 0px;
    }

    /* exsec style end */
    .contboxcont {
        margin-top: -38.6%;
    }

    .text {
        font-size: 14px !important;
    }

    .boxsec {
        width: 280px;
        height: 280px;
    }

    .blackbox .flexsec {
        margin-bottom: 10px;
    }

    .contactbox iframe {
        height: 550px !important;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    
      .carousel-control-next-icon,
    .carousel-control-prev-icon {
   
        width: 28px !important;
        height: 28px !important;
    }

    /* common style start */
    .bannertext1,
    .abouttext1,
    .protext1,
    .pro1text1,
    .brandtext1,
    .agtext1,
    .safetytext1 {
        font-size: 17px;
    }

    .abouthead,
    .protext2,
    .pro1text2,
    .brandtext2,
    .agtext2,
    .safetytext2 {
        font-size: 20px;
    }



    .learnbtn {
        width: 120% !important;
        margin-left: -20%;
    }

    .textmission1 {
        font-size: 14px;
    }

    .mbl {
        display: block;
    }

    .visimg {
        margin-top: 50px;
    }


    .desk {
        display: none;
    }

    .textboxsec,
    .textboxsec1 {
        padding: 20px 20px 20px 20px;
    }

    .about-item,
    .ag-item {
        padding: 70px 0px;
    }

    /* common style end */


    /* banner style start */
    .bannersec {

        margin-top: 135px;
    }



    .bannertextsec {
        text-align: center;
        padding: 50px;
    }

    .bannertext2 {
        font-size: 27px;
        font-weight: 800;
        width: 100%;
    }

    .bannertext3 {
        width: 100%;
    }

    /* banner style end */




    .boxhead {
        font-size: 13px;
    }

    .text {
        font-size: 14px !important;
    }

    .contactbox {
        margin-top: 40px;
    }

    .contboxcont {
        position: relative;
        margin-top: 0%;
        margin-bottom: 30px;
    }

    .boxsec {
        width: 260px;
        height: 260px;
    }


    .bluebox {
        border-bottom-left-radius: 0px;
    }

    .blackbox {
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;

    }

}

/* responsive work end  */



@media screen and (max-width:767px) {
      .carousel-control-next-icon,
    .carousel-control-prev-icon {
   
        width: 28px !important;
        height: 28px !important;
    }
    .contmap {
        height: 400px;
    }

    /* common style start */
    .bannertext1,
    .bannertext3 {
        font-size: 14px;
    }

    .bannertext2 {
        font-size: 20px;
    }

    .lines {
        width: 80%;
    }

    .abouttext1,
    .protext1,
    .pro1text1,
    .brandtext1,
    .agtext1,
    .safetytext1 {
        font-size: 17px;
    }

    .abouthead,
    .protext2,
    .pro1text2,
    .brandtext2,
    .agtext2,
    .safetytext2 {
        font-size: 20px;
    }


    .about-item,
    .ag-item {
        padding: 60px 0px;
    }



    .protext3,
    .agtext3 {
        width: 100%;
    }

    /* common style end */
    /* banner style start */


    .learnbtnsec {
        align-items: start;
        justify-content: left;
        display: flex;
    }

    .brandtext3 {
        width: 100%;
    }

    .bannertextsec {
        padding: 30px 20px;
    }

    .contactbox {
        margin-top: 40px;
    }

    .contboxcont {
        margin-top: 0%;
    }

    .bluebox,
    .blackbox {
        width: 100%;
        margin-left: 0%;
    }

    .desk {
        display: none;
    }

    .mbl {
        display: block;
    }

    .misimg {
        margin-bottom: 40px;
    }

    .textboxsec,
    .textboxsec1 {
        padding: 30px 40px;

    }

    .textmission1 {
        margin-bottom: 0px;
    }

    .aboutsec .flexsec {
        display: block;
    }

    .learnbtn {
        margin-top: 10px;

    }

    .bannersec {
        margin-top: 110px;

    }

    .bannertextsec {
        text-align: center;

    }

    .boxsec {
        width: 250px;
        height: 250px;
    }

    .bluebox {
        border-bottom-left-radius: 0px;
    }

    .blackbox {
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;

    }
}

@media screen and (max-width:600px) {
    .boxsec {
        width: 240px;
        height: 240px;
    }

}

@media screen and (max-width:500px) {

    .about-item,
    .ag-item {
        padding: 50px 0px;
    }

    .bannertextsec {
        padding: 25px 15px;
    }

    .brlogo1 {
        margin-left: -9%;
    }

    .boxsec {
        width: 220px;
        height: 220px;
    }

    .contmap {
        height: 300px;
    }

}

@media screen and (max-width:400px) {
    .boxsec {
        width: 200px;
        height: 200px;
    }

  
}